* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  overflow-x: hidden;
  background: #f7f9fc;
  font-family: "Segoe UI", sans-serif;
}

#root {
  width: 100%;
  min-height: 100vh;
}
